div h1{
  text-align: center;
  background-color: green;
  margin: 0px;
  padding: 30px
}

div .App-playlist{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: green
}
